/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form
5.  Command
6. 	What about
7.  Our forum

*/

/* 1.  Fonts including */
@font-face {
	font-family: "Gilroy-Light";
	font-style: normal;
	src: url("../fonts/Gilroy-Light/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Gilroy-Regular";
	font-style: normal;
	src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Gilroy-RegularItalic";
	font-style: normal;
	src: url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Gilroy-Bold";
	font-style: normal;
	src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Gilroy-Black";
	font-style: normal;
	src: url("../fonts/Gilroy-Black/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black/Gilroy-Black.ttf") format("truetype");
}


/* 2.  General styles */
$padding-standart: 130px 0px;
$padding-small: 80px 0px;
$typography-color-standart: 16px;
$blue: rgb(15, 148, 219);
$violet: #7B20B1;
$white: #fff;
$green: #2ecc71;

body {
	color: #787878;
	letter-spacing: 1px;
	font-style: normal;
	font-family: 'Gilroy-Regular', sans-serif;
	min-width: 320px;
	max-width: 100%;
	font-size: $typography-color-standart;
	letter-spacing: 0;
}

section {
	padding: $padding-standart;
	text-align: center;

	@media (max-device-width: 767px) {
		padding: $padding-small;
	}
}

.banner-section {
	position: relative;
	top: 0;
	letter-spacing: 0;
}

.right-content {
	position: absolute;
	top: 0;
	color: $white;

	@media (max-device-width: 767px) {
		top: -20px;
	}

	@media (max-device-width: 545px) {
		top: -45px;
	}
}

.left-content {
	text-align: left;
	position: absolute;
	top: 0;
	color: $white;
}

h2 {
	font-size: 50px;

	@media (max-device-width: 1199px) {
		font-size: 42px;
		line-height: 42px;
	}

	@media (max-device-width: 991px) {
		font-size: 27px;
		line-height: 30px;
	}

	@media (max-device-width: 545px) {
		font-size: 20px;
		line-height: 25px;
	}
}

img {
	max-width: 100%;
}


a {
	text-decoration: none;
	color: #fff;

	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&.button-trapec{
		background: url(../img/button-bg.png);
		width: 341px;
		height: 80px;
		display: inline-block;
		text-align: center;
		background-repeat: no-repeat;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		padding-top: 27px;
		z-index: 2;
		position: relative;
		background-size: cover;

		@media (max-device-width: 767px) {
			width: 230px;
			height: 50px;
			font-size: 13px;
			line-height: 16px;
			padding-top: 17px;
		}

		&:hover::before{
			box-shadow: 0px 14px 100px rgba(168, 58, 213, 1);
		}

		&::before{
			z-index: 1;
			content: "";
			width: 305px;
			height: 70px;
			margin-left: 14px;
			position: absolute;
			left: 0;
			top: 0;
			box-shadow: 0px 14px 100px rgba(168, 58, 213, 0.46);
			transition: .2s;

			@media (max-device-width: 767px) {
				width: 200px;
				height: 50px;
				margin-left: 7px;
			}
		}

		&::after{
			content: "";
			z-index: 3;
			background: url(../img/ticket.png);
			width: 230px;
			height: 240px;
			position: absolute;
			top: -80px;
			right: -90px;
			animation: top-bot-top 2s ease-in-out infinite;

			@media (max-device-width: 767px) {
				background-size: cover;
				width: 150px;
				height: 160px;
				top: -50px;
				right: -60px;
				animation: top-bot-top-mob 2s ease-in-out infinite;
			}
		}

		@keyframes top-bot-top {
			50% { top: -90px; }   
			100% { top: -80px; }
		}

		@keyframes top-bot-top-mob {
			50% { top: -55px; }   
			100% { top: -50px; }
		}
	}
}

.btn {
	border: solid 1px $white;
	border-radius: 0;
	font-size: 16px;
	transition: .3s;
	min-width: 150px;
	margin-top: 30px;

	@media (max-device-width: 767px) {
		margin-top: 10px;
		float: left;
	}

	&:hover {
		background-color: rgb(61, 155, 233);
		border-color: rgba(61, 155, 233, 1);
	}
}

/* 3.  Header */
.head {
	height: 850px;
	width: 100%;
	background: url(../img/main-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;

	@media (max-device-width: 767px) {
		background: url(../img/main-mobile-bg.png);
		height: 600px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
	}

	.content-wrapper{
		color: $white;
		padding-top: 115px;
		font-size: 18px;
		line-height: 21px;
		overflow: hidden;

		@media (max-device-width: 991px) {
			padding-top: 80px;
		}

		.button-box{
			position: relative;

			.radial-arrow{
				position: absolute;
				top: 35px;
				left: 400px;

				@media (max-device-width: 991px) {
					display: none;
				}
			}
		}

		.social-bar{
			margin-top: 150px;

			@media (max-device-width: 991px) {
				margin-top: 90px;
			}

			@media (max-device-width: 767px) {
				text-align: center;
			}

			a{
				font-size: 16px;
				line-height: 26px;
				font-weight: normal;
				opacity: 0.8;
				position: relative;
				margin-right: 30px;

				@media (max-device-width: 767px) {
					font-size: 14px;
					line-height: 100%;
				}

				&:last-child{
					margin-right: 0;
				}

				&:hover {
					background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					opacity: 1;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -4px;
						height: 2px;
						width: 50%;
						background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
					}
				}
			}
		}

		h1{
			font-weight: 900;
			font-size: 54px;
			line-height: 70px;
			font-family: 'Gilroy-Black', sans-serif;
			text-transform: uppercase;
			letter-spacing: 0;
			margin-bottom: 30px;

			@media (max-device-width: 767px) {
				font-size: 32px;
				line-height: 130%;
				letter-spacing: 0.02em;
				margin-bottom: 20px;
			}

			span{
				background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				&.date{
					color: #0c071a;
					background: transparent;
					-webkit-text-stroke: 3px #BB45E4;
				}
			}
		}

		p{
			font-size: 18px;
			line-height: 26px;

			@media (max-device-width: 767px) {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.02em;
			}
			

			&.bott{
				margin-bottom: 25px;
				font-size: 20px;
				margin-bottom: 70px;
				opacity: .9;
				letter-spacing: 0;

				@media (max-device-width: 767px) {
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 140%;
					margin-bottom: 35px;
				}
			}

			span{
				background: linear-gradient(87.09deg, #7B20B1 7.61%, #BB45E4 105.22%);
				border-radius: 2px;
				padding: 1px 3px;
				margin-right: 20px;

				@media (max-device-width: 767px) {
					display: block;
					float: left;
					font-size: 12px;
					line-height: 14px;
					letter-spacing: 0.02em;
					padding: 9px 6px;
				}
			}
		}
	}

	.top-bar {
		padding-top: 32px;

		@media (max-device-width: 767px) {
			padding-top: 20px;
		}

		.toggle_mnu {
			width: 60px;
			height: 60px;
			position: fixed;
			z-index: 100;
			border: none;
			right: 20px;
			top: 0px;
			background: transparent;
			display: none;
			z-index: 999;

			@media (max-device-width: 991px) {
				display: block;
			}

			@media (max-device-width: 767px) {
				right: 5px;
			}

			span {
				display: block;
			}
		}

		.toggle_mnu:hover {
			cursor: pointer;
		}

		.sandwich {
			width: 28px;
			height: 28px;
			position: absolute;
			top: 8px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 200;
		}

		.sw-topper {
			position: relative;
			top: 0;
			width: 30px;
			height: 3px;
			background: $violet;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: -webkit-transform 0.5s, top 0.3s;
			transition: transform 0.5s, top 0.3s;
			display: block;
			border-radius: 2px;
		}


		button:focus {
			outline: 0;
		}

		.sw-bottom {
			position: relative;
			width: 30px;
			height: 3px;
			top: 6.6px;
			background: $violet;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: -webkit-transform 0.5s, top 0.3s;
			transition: transform 0.5s, top 0.3s;
			-webkit-transition-delay: 0.3s, 0s;
			transition-delay: 0.3s, 0s;
			border-radius: 2px;
		}

		.sw-footer {
			position: relative;
			width: 20px;
			height: 3px;
			top: 13.5px;
			background: $violet;
			border: none;
			border-radius: 4px 4px 4px 4px;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
			border-radius: 2px;
			float: right;
		}

		.sandwich.active {
			.sw-topper {
				top: 9px;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.sw-bottom {
				top: 6px;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			.sw-footer {
				opacity: 0;
				top: 0;
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}

		.top_mnu {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: #151515;
			background-image: url(../img/burger-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 50;
			right: 0;
			top: 0;
			display: none;

			ul,
			li {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			ul {
				margin-top: 85px;
				text-align: center;
				-webkit-animation-duration: 0.01s;
				animation-duration: 0.01s;

				li {
					margin-bottom: 30px;

					&:nth-child(1) a {
						-webkit-animation-delay: 0;
						animation-delay: 0;
					}

					&:nth-child(2) a {
						-webkit-animation-delay: 0.1s;
						animation-delay: 0.1s;
					}

					&:nth-child(3) a {
						-webkit-animation-delay: 0.3s;
						animation-delay: 0.3s;
					}

					&:nth-child(4) a {
						-webkit-animation-delay: 0.4s;
						animation-delay: 0.4s;
						margin-bottom: 85px;
					}
				}

				a {
					color: $white;
					display: block;
					font-size: 18px;
					line-height: 26px;
					opacity: 1;
					position: relative;
					outline: none;


					span {
						display: block;
						position: relative;
						top: -45px;
						left: 0;
						height: 100%;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;

						&:hover {
							background-color: rgba(0, 123, 255, 0.08);
						}
					}
				}

				a:hover {
					text-decoration: none;
				}
			}

			.more-info-box {
				text-align: center;

				.social-icons{

					a{
						margin-right: 10px;

						&:last-child{
							margin-right: 0;
						}
					}
				}
				
				a{
					&.phone {
						font-size: 20px;
						font-family: 'Gilroy-Bold', sans-serif;
						font-weight: bold;
						margin-bottom: 10px;
						display: block;
					}

					span {
						color: #7B20B1;
					}
				}
			}
		}


		.contact-box {
			text-align: left;

			a {
				color: $white;
				display: inline-block;

				&.phone {
					font-size: 20px;
					font-family: 'Gilroy-Bold', sans-serif;
					font-weight: bold;

					@media (max-device-width: 991px) {
						margin-right: 30px;
					}

					@media (max-device-width: 767px) {
						display: none;
					}
				}

				&.button {
					background: linear-gradient(87.82deg, #7B20B1 7.61%, #BB45E4 105.22%);
					box-shadow: 0px 14px 100px rgba(168, 58, 213, 0.46);
					border-radius: 4px;
					font-weight: 600;
					font-size: 16px;
					line-height: 19px;
					padding: 11.5px 30px;
					float: right;
					margin-top: -5px;
					transition: .2s;

					@media (max-device-width: 991px) {
						float: unset;
					}

					@media (max-device-width: 767px) {
						font-size: 13px;
						padding: 5.5px 20px;
					}

					&:hover {
						box-shadow: 0px 14px 100px rgba(168, 58, 213, 1);
					}
				}

				span {
					color: #7B20B1;
				}
			}
		}

		.menu-box {

			@media (max-device-width: 991px) {
				display: none;
			}

			ul {

				li {
					display: inline-block;
					list-style: none;
					margin-right: 28px;
					position: relative;

					@media (max-device-width: 1199px) {
						margin-right: 25px;
					}

					&:last-child {
						margin-right: 0;

						a {
							font-weight: bold;
							font-family: 'Gilroy-Bold', sans-serif;
						}
					}

					a {
						color: $white;
						font-size: 16px;
						line-height: 26px;
						background: transparent;
						transition: .2s;

						&:hover {
							background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;

							&::after {
								content: "";
								position: absolute;
								left: 0;
								bottom: 0;
								height: 2px;
								width: 50%;
								background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
							}
						}
					}
				}
			}
		}
	}
}


/* 4.  Form 
input,
textarea {
    border-radius: 5px;
}

.wpcf7 {
    width: 100%;
}

.breadcrambs{
    background: url(../img/slider-1.jpg);

    .inner-wrap{
        height: 100px;
    }

}

.wpcf7 label {
    width: 100%;
    margin-bottom: 0;
}


.wpcf7 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7 .wpcf7-form {
    width: 100%;
}

.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors,
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}
@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
    margin-bottom: 0;
}

.wpcf7 .wpcf7-form p .wpcf7-textarea,
.wpcf7 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7 .wpcf7-form p input:focus,
.wpcf7 .wpcf7-form p textarea:focus {
    outline-color: $white;
}

.wpcf7 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }

    @media (max-device-width: 991px) {
        margin-bottom: 30px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
    outline-color: $white;
}



.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}
*/

/* 5.  Command */
.command {
	background-color: #E5E5E5;
	text-align: left;

	@media (max-device-width: 991px) {
		text-align: center;
	}

	.articles {
		margin-bottom: 50px;

		.article-box {

			img {
				margin-top: -22px;
				max-width: 100%;

				@media (max-device-width: 1199px) {
					margin-top: -16px;
				}
			}

			&:after {
				content: "";
				background: url(../img/arrow.png);
				width: 33px;
				height: 25px;
				position: absolute;
				left: -42px;
				top: -5px;
				background-size: cover;
				background-repeat: no-repeat;
				transform: rotate(90deg);

				@media (max-device-width: 1100px) {
					left: 0px;
					top: -35px;
				}

				@media (max-device-width: 991px) {
					transform: rotate(180deg);
					left: 15px;
					top: -35px;
					width: 25px;
					height: 19px;
				}
			}
		}

		.article-text {

			h4 {
				font-weight: 900;
				font-size: 46px;
				line-height: 60px;
				color: #050505;
				text-transform: uppercase;
				font-family: 'Gilroy-Black', sans-serif;

				@media (max-device-width: 1199px) {
					font-size: 39px;
					line-height: 53px;
				}

				@media (max-device-width: 991px) {
					font-weight: 800;
					font-size: 20px;
					line-height: 100%;
				}
			}

			&:after {
				content: "";
				background: url(../img/arrow.png);
				width: 42px;
				height: 32px;
				position: absolute;
				right: 210px;
				top: 74px;
				background-size: cover;
				background-repeat: no-repeat;


				@media (max-device-width: 1199px) {
					width: 38px;
					height: 28px;
					right: 170px;
					top: 67px;
				}

				@media (max-device-width: 991px) {
					display: none;
				}
			}
		}
	}



	.item-box {
		margin-bottom: 45px;

		@media (max-device-width: 991px) {
			text-align: center;
		}

		img {
			margin-right: 35px;
			float: left;

			@media (max-device-width: 991px) {
				float: unset;
				margin-right: 0;
			}
		}

		h3 {
			background: linear-gradient(85.83deg, #7B20B1 7.61%, #BB45E4 105.22%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-family: 'Gilroy-Bold', sans-serif;
			font-weight: bold;
			font-size: 26px;
			margin-top: 95px;
			margin-bottom: 15px;

			@media (max-device-width: 991px) {
				margin-top: 25px;
			}
		}

		p {
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
			color: #050505;
		}
	}
}


/* 6. 	What about */
.what-about{
	background-color: #0C0011;
	background-image: url(../img/what-about-mask.png); 
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	position: relative;

	&::before{
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		background: url(../img/parralax-figure.png);
		width: 300px;
		height: 235px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: 140px;
		background-position-y: -10px;
		display: none;

		@media (max-device-width: 767px) {
			display: block;
		}
	}
	
	.parralax-box{
		position: relative;
		min-height: 432px;

		@media (max-device-width: 1199px) {
			min-height: 371px;
		}

		@media (max-device-width: 991px) {
			min-height: 351px;
		}

		img{
			transition: 1s;
		}

		.left-box{
			width: 50%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			content: "";

			&:hover ~ img {
				margin-left: 10px;
			}
		}

		.right-box{
			width: 50%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			content: "";

			&:hover ~ img {
				margin-left: -10px;
			}
		}

		.top-box{
			width: 100%;
			height: 25%;
			position: absolute;
			right: 0;
			top: 0;
			content: "";
			z-index: 1;

			&:hover ~ img {
				margin-top: 10px;
			}
		}

		.bottom-box{
			width: 100%;
			height: 25%;
			position: absolute;
			right: 0;
			bottom: 0;
			content: "";
			z-index: 1;

			&:hover ~ img {
				margin-top: -10px;
			}
		}

		@media (max-device-width: 767px) {
			display: none;
		}
	}

	.text-box{

		.article-box{
			text-align: left;

			img{
				margin-bottom: 15px;

				@media (max-device-width: 767px) {
					display: none;
				}
			}

			h2{
				display: none;

				@media (max-device-width: 767px) {
					display: inline-block;
					font-weight: 900;
					font-size: 38px;
					line-height: 130%;
					text-transform: uppercase;
					font-family: 'Gilroy-Black', sans-serif;
					background: transparent;
					-webkit-text-stroke: 3px #BB45E4;
					background: -o-linear-gradient(4.17deg, #7B20B1 7.61%, #BB45E4 105.22%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					padding-right: 50%;
				}
			}

			h3{
				color: $white;
				font-weight: 800;
				font-size: 43px;
				line-height: 140%;
				font-family: 'Gilroy-Black', sans-serif;
				text-transform: uppercase;
				background-color: $white;
				background-image: url(../img/article-mask.png);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-position-x: -621px;
				background-position-y: -57px;
				margin-bottom: 50px;

				@media (max-device-width: 991px) {
					font-weight: 800;
					font-size: 29px;
					line-height: 140%;
					letter-spacing: 0.02em;
					text-transform: uppercase;
				}
			}

			ul{
				margin-left: 50px;

				li{
					color: $white;
					font-style: normal;
					font-weight: normal;
					font-size: 20px;
					line-height: 160%;
					letter-spacing: 0.02em;
					margin-bottom: 15px;
					position: relative;
					z-index: 1;

					span{
						position: relative;

						&::after{
							position: absolute;
							bottom: 3px;
							z-index: -1;
							left: 0;
							height: 5px;
							width: 100%;
							content: "";
							background: linear-gradient(81.43deg, #7B20B1 7.61%, #BB45E4 105.22%);
						}
					}

					&::before{
						content: "";
						height: 1px;
						width: 30px;
						background-color: $white;
						position: absolute;
						top: 15px;
						left: -50px;
					}
				}
			}
		}
	}
}

/* 7.  Our forum */
.our-forum{
	background-color: #F4F4F4;

	.img-box{
		padding-top: 20px;
		text-align: left;

		@media (max-device-width: 991px) {
			margin-bottom: 15px;
		}
	}

	.text-box{
		font-size: 46px;
		line-height: 60px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		font-family: 'Gilroy-Black', sans-serif;
		color: #050505;
		text-align: left;
		padding-left: 45px;

		@media (max-device-width: 1199px) {
			letter-spacing: 0;
			padding-left: 25px;
			font-size: 45px;
		}

		@media (max-device-width: 991px) {
			font-weight: 800;
			font-size: 16px;
			line-height: 100%;
			text-align: center;

			&::after{
				content: "";
				position: absolute;
				right: 42%;
				top: 28px;
				background: url(../img/arrow.png);
				width: 19px;
				height: 15px;
				background-size: cover;
				transform: rotate(90deg);
			}
		}

		span{
			color: $violet;
		}
	}

	.main-content{
		background: url(../img/map-countries.png);
		background-repeat: no-repeat;
		height: 500px;
		margin-top: 50px;
		background-size: contain;

		@media (max-device-width: 320px) {
			background: url(../img/map-countries-mobile.png);
			background-repeat: no-repeat;
			background-size: contain;
		}

		.text-box-article{
			text-align: left;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;
			font-family: 'Gilroy-Bold', sans-serif;
			color: #050505;
			opacity: 0.9;
			padding-top: 65px;

			@media (max-device-width: 991px) {
				padding-top: 165px;
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				overflow: hidden;
			}

			p{
				font-family: 'Gilroy-Black', sans-serif;
				font-weight: bold;
				position: relative;

				@media (max-device-width: 991px) {
					font-size: 18px;
					line-height: 100%;
					text-align: center;
					letter-spacing: 0.03em;
					text-transform: uppercase;
				}

				&::after{
					content: "";
					position: absolute;
					right: 174px;
					top: 52px;
					background: url(../img/arrow.png);
					width: 33px;
					height: 25px;
					background-size: cover;

					@media (max-device-width: 991px) {
						display: none;
					}
				}
			}

			.button-box{
				margin-top: 187px;
				position: relative;

				@media (max-device-width: 991px) {
					margin-top: 30px;
					display: inline-block;
				}

				.radial-arrow{
					position: absolute;
					top: -120px;
					left: 10px;
					width: 340px;
					height: 73px;

					@media (max-device-width: 991px) {
						display: none;
					}
				}

				.radial-arrow-mobile{
					display: none;
					position: absolute;
					top: 0px;
					left: 10px;
					width: 255px;
					height: 88px;

					@media (max-device-width: 991px) {
						display: inline;
						top: 24px;
						left: -6px;
					}
				}

				a{

					&.button-trapec.sec{

						@media (max-device-width: 991px) {
							margin-left: 25px;
							width: 230px;
							height: 50px;
							font-size: 13px;
							padding-top: 16px;
						}

						&::before {
							box-shadow: 0px 14px 100px rgba(168, 58, 213, 0.46);

							@media (max-device-width: 991px) {
								width: 200px;
								height: 50px;
								margin-left: 7px;
							}
						}

						&::after{
							content: "";
							z-index: 3;
							background: url(../img/tickets.png);
							width: 230px;
							height: 240px;
							position: absolute;
							top: -60px;
							right: -90px;
							animation: top-bot-top-sec 2s ease-in-out infinite;

							@media (max-device-width: 767px) {
								background-size: cover;
								width: 150px;
								height: 160px;
								top: -50px;
								right: -60px;
								animation: top-bot-top-mob-sec 2s ease-in-out infinite;
							}

							@media (max-device-width: 400px) {
								right: -45px;
							}
						}

						@keyframes top-bot-top-sec {
							50% { top: -70px; }   
							100% { top: -60px; }
						}

						@keyframes top-bot-top-mob-sec {
							50% { top: -55px; }   
							100% { top: -50px; }
						}
					}
				}
			}
		}

		.map-box{
			position: relative;

			@media (max-device-width: 991px) {
				display: none;
			}

			.dot-group{

				.dot-item{
					width: 23px;
					height: 21px;
					background: url(../img/plus.png);
					background-repeat: no-repeat;
					cursor: pointer;
					position: relative;

					&:hover{

						.country-name{
							display: block;
							z-index: 5;
						}
					}

					&:nth-child(1){
						left: 72px;
						top: 91px;
						position: absolute;

						@media (max-device-width: 1199px) {
							left: -19px;
							top: 74px;
						}
					}

					&:nth-child(2){
						left: 48px;
						top: 130px;
						position: absolute;

						@media (max-device-width: 1199px) {
							left: -48px;
							top: 108px;
						}
					}

					&:nth-child(3){
						left: 79px;
						top: 154px;
						position: absolute;
						
						@media (max-device-width: 1199px) {
							left: -16px;
							top: 130px;
						}
					}

					&:nth-child(4){
						left: 167px;
						top: 106px;
						position: absolute;
						
						@media (max-device-width: 1199px) {
							left: 62px;
							top: 84px;
						}
					}

					&:nth-child(5){
						left: 208px;
						top: 179px;
						position: absolute;
						background: url(../img/minus.png);

						@media (max-device-width: 1199px) {
							left: 97px;
							top: 145px;
						}

						.country-name{
							display: block;
						}
					}

					.country-name{
						font-weight: bold;
						font-size: 24px;
						line-height: 100%;
						letter-spacing: 0.02em;
						color: #050505;
						background: $white;
						position: absolute;
						padding: 13px 36px;
						border-radius: 10px;
						left: 45px;
						top: -17px;
						box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
						display: none;


						&::before{
							content: "";
							position: absolute;
							width: 15px;
							height: 15px;
							background-color: $white;
							left: -7px;
							top: 19px;
							transform: rotate(45deg);
						}
					}
				}
			}
		}

		.timer-box{

			img{
				margin-top: -100px;
				margin-right: 20px;
			}

			.dsCountDown{
				padding-left: 45px;
			}

			.dsCountDown.ds-white > .ds-element.ds-element-seconds {
				display: none;
			}

			.ds-white .ds-element{
				border: 0;
			}

			.dsCountDown.ds-white{
				border: 0;
				background: $white;
				box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
				border-radius: 15px;
				width: 361px;
				height: 120px;
				text-align: center;
			}

			.ds-element{
				margin: 0 auto;
				margin-right: 10px;

				.ds-element-title{
					font-size: 18px;
					line-height: 150%;
					text-align: right;
					letter-spacing: 0.02em;
					color: #4F4F4F;
					font-family: 'Gilroy-Regular', sans-serif;
					text-transform: capitalize;
					text-align: center;
				}

				.ds-element-value{
					font-weight: bold;
					font-size: 64px;
					line-height: 150%;
					letter-spacing: 0.02em;
					color: #7B20B1;
					text-align: center;
					margin-top: -13px;
					position: relative;

					&::after{
						content: ":";
						position: absolute;
						top: 0;
						right: -22px;
					}

					&.ds-minutes{
						&::after{
							display: none;
						}
					}
				}
			}
		}		
	}
}